


/* color */

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.scroll-to-top .scroll-bar-text,
.header-top .top-inner .info-list li i,
.header-top .top-inner .info-list li button:hover,
.header-top .top-inner .info-list li a:hover,
.header-top .top-inner .right-column .text i,
.main-header .option-list li a:hover,
.main-header .option-list li button:hover,
.main-header .outer-box .category-box .category-list > li > a:hover,
.main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.main-header .outer-box .category-box .list-inner .shop-block h2 a:hover,
.main-header .outer-box .category-box .list-inner .shop-block h4,
.category-block-one .inner-box h4 a:hover,
.shop-section .inner-container .ads-box h3 a:hover,
.shop-block-one .inner-box .lower-content h4 a:hover,
.feature-block-one .inner-box h2 a:hover,
.feature-block-one .inner-box h4,
.deals-block-one .inner-box .content-box h4 a:hover,
.shop-section .inner-container .ads-box h2,
.shop-block-two .inner-box .content-box h6 a:hover,
.news-block-one .inner-box .lower-content .category,
.news-block-one .inner-box .lower-content h3 a:hover,
.news-block-one .inner-box .lower-content .post-info li a:hover,
.main-footer .links-list li a:hover,
.main-footer .contact-widget .widget-content .info li a:hover,
.footer-bottom p a,
.dark-header .header-top .top-inner .info-list li button:hover, 
.dark-header .header-top .top-inner .info-list li a:hover,
.dark-header.main-header .option-list li a:hover,
.dark-header.main-header .option-list li button:hover,
.highlights-block-one .inner-box .icon-box,
.category-block-two .inner-box h4 a:hover,
.sales-block-one .inner-box .content-box h6 a:hover,
.sales-block-one .cs-countdown .count-col,
.cta-section .content-box h2 span,
.cta-section .content-box a:hover,
.dark-header .header-top .coupon-box p span,
.main-header .support-box .icon-box,
.main-header .support-box a,
.banner-carousel .content-box h3,
.feature-section .feature-block:nth-child(3) .feature-block-one .inner-box h2 a:hover,
.feature-section.home-3 .feature-block:nth-child(3) .feature-block-one .inner-box h2 a:hover,
.instagram-block-one .inner-box .text-box a:hover,
.highlights-section.alternat-2 .single-item .icon-box,
.category-block-three .inner-box .title-box h4 a:hover,
.category-block-three .inner-box .link a:hover,
.cta-style-two .content-box h2 span,
.flash-sales-two .ads-box h3 a:hover,
.shop-block-one .inner-box .timer p,
.shop-block-one .inner-box .timer .count-col span,
.shop-block-one .inner-box .timer .count-col h6,
.shop-block-one .inner-box .timer .count-col:before,
.deals-block-two .inner-box .content-box h3 a:hover,
.deals-block-two .inner-box .content-box h4,
.deals-block-two .inner-box .content-box .count-col span,
.deals-block-two .inner-box .content-box .count-col:before,
.deals-block-two .inner-box .content-box .cart-btn button,
.sales-block-two .cs-countdown .count-col,
.sales-block-two .inner-box .link a:hover,
.sales-block-two .inner-box .lower-content h4 a:hover,
.cta-style-three .content-box h2 span,
.cta-style-three .content-box a:hover,
.feature-block-two .inner-box .lower-content h4 a:hover,
.shop-block-one .inner-box .image-box .option-list li a:hover,
.shop-block-one .inner-box .image-box .option-list li button:hover,
.feature-block-two .inner-box .lower-content h5,
.nav-style-one .owl-nav button:hover,
.deals-block-one .inner-box .image-box .option-list li a:hover,
.shop-block-two .inner-box .image-box .option-list li a:hover,
.shop-block-two .inner-box .image-box .option-list li button:hover,
.shop-block-one .inner-box .image-box .option-list-two li a:hover,
.shop-block-one .inner-box .image-box .option-list-two li button:hover,
.deals-block-one .inner-box .image-box .option-list li button:hover,
.sales-block-one .inner-box .image-box .option-list li a:hover,
.sales-block-one .inner-box .image-box .option-list li button:hover,
.highlights-section .single-item:hover .icon-box,
.deals-block-two .inner-box .image-box .option-list li a:hover,
.deals-block-two .inner-box .image-box .option-list li button:hover,
.header-style-four .header-lower .menu-right-content .btn-box a:hover,
.main-footer .contact-widget .social-links li a:hover,
.page-title .content-box .bread-crumb li a:hover,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box,
.price-range-slider .btn-box .clear-btn:hover,
.shop-block-three .inner-box .lower-content h3 a:hover,
.shop-block-three .inner-box .image-box .option-list li a:hover,
.shop-block-three .inner-box .image-box .option-list li button:hover,
.shop-block-three .inner-box .overlay-content .theme-btn,
.product-details-content .other-option li span,
.product-details-content .other-option li.social-links a:hover,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:hover,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:active,
.shop-details .product-discription .review-content .customer-review .rating-box p span,
.shop-details .product-discription .review-content .customer-review .rating-inner .rating-list li button:hover,
.shop-details .product-discription .review-content .customer-review .rating-inner .rating-list li button:active,
.shop-details .product-discription .review-content .customer-review .rating-inner .rating-list li button:focus,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:focus,
.product-details-content .content-box .cs-countdown .count-col span,
.product-details-content .content-box .cs-countdown .count-col:before,
.cart-section .cart-table tbody .product-column .product-box h6 a:hover,
.cart-section .cart-table td .cancel-btn:hover,
.cart-section .cart-table td .cancel-btn:focus,
.cart-section .cart-table td .cancel-btn:active,
.cart-section .total-cart .shipping-calculator .form-group .theme-btn,
.account-section .inner-container .account-info a:hover,
.account-section .inner-container .tab-btns li.active-btn,
.account-section .personal-info .single-item span a:hover,
.sign-section .form-inner .social-links li a:hover,
.sign-section .form-inner .other-option .forgot-password:hover,
.sign-section .form-inner .lower-text p a,
.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .category-widget .category-list li .check-box input:checked + label,
.blog-sidebar .post-widget .post h5 a:hover,
.blog-sidebar .archives-widget .archives-list li a:hover,
.blog-sidebar .archives-widget .archives-list li a i,
.news-block-one .inner-box .lower-content h2 a:hover,
.news-block-one .inner-box .lower-content .btn-box .theme-btn,
.blog-details-content .post-share-option .social-links li a:hover,
.info-block-one .inner-box .icon-box,
.info-block-one .inner-box p a:hover

{
  color: var(--theme-color);
}

.blog-sidebar .search-widget .search-form .form-group button:hover{
  color: var(--theme-color) !important;
}


/** background **/

button.rtl,
button.ltr,
.header-upper .search-area .search-box .form-group button[type='submit'],
.main-header .option-list li a span,
.main-header .outer-box .category-box .list-inner .shop-block .link:hover,
.main-header .menu-right-content .btn-box a:hover,
.theme-btn span,
.banner-carousel .content-box .upper-text,
.dots-style-one .owl-dots button.active,
.dots-style-one .owl-dots button:hover,
.shop-section .inner-container .ads-box .theme-btn,
.shop-block-one .inner-box .lower-content .cart-btn .theme-btn,
.progress-box .bar-inner,
.deals-block-one .inner-box .image-box .discount,
.deals-block-one .inner-box .content-box .cart-btn .theme-btn,
.popular-product,
.apps-section .content-box .download-btn a:hover,
.highlights-section,
.main-footer .logo-widget .form-inner .form-group button[type="submit"],
.main-header .header-lower .menu-right-content .btn-box a:hover,
.banner-style-two .content-one .theme-btn span,
.search-section .outer-container form .theme-btn,
.shop-block-one .inner-box .overlay-content .btn-box .theme-btn,
.apps-section.alternat-2 .ads-box .theme-btn,
.header-style-four .header-lower .outer-box .category-box,
.header-style-four .header-lower .menu-right-content .btn-box a,
.cta-style-two .content-box .theme-btn,
.flash-sales-two .ads-box .theme-btn,
.deals-block-two .inner-box .image-box .discount,
.sales-block-two .inner-box .image-box .discount,
.header-style-five .outer-box .category-box,
.feature-style-two .ads-box .theme-btn,
.feature-block-two .inner-box .image-box .owl-dots .owl-dot.active,
.ads-block-one .inner-box .theme-btn span,
.filter-tabs li:before,
.highlights-section.alternat-2 .single-item .icon-box:before,
.check-box input:checked + label:before,
.shop-sidebar .category-widget .accordion .acc-btn.active:before,
.price-range-slider .ui-slider-range,
.price-range-slider .ui-slider-handle,
.price-range-slider .btn-box .theme-btn,
.pagination li a:hover,
.pagination li a.current,
.product-details-content .image-box .discount,
.product-details-content .content-box .size-list .check-box input:checked + label,
.product-details-content .addto-cart-box ul li a:hover,
.product-details-content .addto-cart-box ul li.like-btn button:hover,
.product-details-content .addto-cart-box ul li.like-btn button:active,
.product-details-content .addto-cart-box ul li.like-btn button:focus,
.shop-details .product-discription .tab-btns li:before,
.cart-section .coupon-box .form-group button,
.cart-section .total-cart .shipping-cost .cost-list li .check-box label:after,
.cart-section .total-cart .btn-box .theme-btn,
.checkout-section .order-info .payment-option .check-box label:after,
.checkout-section .order-info .btn-box .theme-btn,
.account-section .payment-option .check-box label:after,
.sign-section .form-inner .form-group .theme-btn,
.error-section .content-box .btn-box .btn-one span,
.error-section .content-box .btn-box .btn-two,
.error-section .content-box .btn-box .btn-one:hover,
.blog-sidebar .tags-widget .tags-list li a:hover,
.news-block-one .inner-box .lower-content .btn-box .theme-btn span,
.blog-details-content .post-share-option .tags-list li a:hover,
.contact-section .form-inner .form-group .theme-btn

{
  background: var(--theme-color);
}




/** border-color **/

.main-header .outer-box .category-box,
.main-menu .navigation > li > ul, 
.main-menu .navigation > li > .megamenu,
.main-header .menu-right-content .btn-box a,
.dots-style-one .owl-dots button.active,
.dots-style-one .owl-dots button:hover,
.dots-style-one .owl-dots button:before,
.sec-title a:hover,
.shop-block-one .inner-box .image-box .option-list li a:hover,
.shop-block-one .inner-box .image-box .option-list li button:hover,
.deals-block-one .inner-box .image-box .option-list li a:hover,
.deals-block-one .inner-box .image-box .option-list li button:hover,
.shop-block-two .inner-box .image-box .option-list li a:hover,
.shop-block-two .inner-box .image-box .option-list li button:hover,
.main-footer .logo-widget .form-inner .form-group input[type='email']:focus,
.main-footer .contact-widget .social-links li a:hover,
.main-header .header-lower .menu-right-content .btn-box a:hover,
.shop-block-one .inner-box .image-box .option-list-two li a:hover,
.shop-block-one .inner-box .image-box .option-list-two li button:hover,
.sales-block-one .inner-box .image-box .option-list li a:hover,
.sales-block-one .inner-box .image-box .option-list li button:hover,
.deals-block-two .inner-box .content-box .cart-btn button,
.cta-style-three .inner-container,
.nav-style-one .owl-nav button:hover,
.header-style-four .option-list li a:hover,
.check-box input:checked + label:before,
.shop-sidebar .category-widget .accordion .acc-btn.active:before,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box,
.shop-page-section .item-shorting .right-column .menu-box button.on,
.pagination li a:hover,
.pagination li a.current,
.shop-block-three .inner-box .image-box .option-list li a:hover,
.shop-block-three .inner-box .image-box .option-list li button:hover,
.shop-block-three .inner-box .overlay-content .theme-btn,
.product-details-content .slider-content .thumb-box li a.active,
.product-details-content .content-box .color-list .check-box label:after,
.product-details-content .content-box .size-list .check-box input:checked + label,
.product-details-content .addto-cart-box ul li a:hover,
.product-details-content .addto-cart-box ul li.like-btn button:hover,
.product-details-content .other-option li.social-links a:hover,
.shop-details .product-discription .review-content .form-inner .form-group input:focus,
.shop-details .product-discription .review-content .form-inner .form-group textarea:focus,
.cart-section .coupon-box .form-group input:focus,
.cart-section .total-cart .shipping-calculator .form-group .theme-btn,
.checkout-section .billing-content .form-inner .form-group input:focus,
.sign-section .form-inner,
.sign-section .form-inner .form-group input:focus,
.sign-section .form-inner .social-links li a:hover,
.blog-sidebar .search-widget .search-form .form-group input:focus,
.news-block-one .inner-box .lower-content .btn-box .theme-btn,
.blog-details-content .content-one blockquote,
.blog-details-content .post-share-option .tags-list li a:hover,
.blog-details-content .comment-box .form-inner .form-group input:focus,
.blog-details-content .comment-box .form-inner .form-group textarea:focus,
.info-block-one .inner-box .icon-box:before,
.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus

{
  border-color: var(--theme-color) !important;
}



















